/*---------------HEADER---------------------*/

.cabezera {
    width: 100%;
    height: 300px;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorLogo {
    width: 100%;
    position: absolute;
    top: 110px;
    display: flex;
    justify-content: center;
}

.logo {
    position: relative;
    width: 600px;
    height: 200px;
}

/**********************MENU**********************/
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    height: 60px;
    width: 100%;    
    position: absolute;
    top: 0;
    z-index: 1;
    
}

.menu li {
    display: flex;
}

.menu li a {
    font-family: sans-serif, cursive;
    font-display: flex;
    font-size: 30px;
    text-decoration: none;
    padding: 15px;
    background-color: #ffbbbb;
    color: black;
}

.menu li a:hover {
    background-color: #ff7777;
    color: #000000;
}

/*******************DIV principales******************/
body {
    background: rgb(129, 15, 121);
    background: radial-gradient(circle, rgba(129, 15, 121, 1) 12%, rgba(2, 0, 36, 1) 100%);
}

.cuerpo {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start; 
    margin: 0 30px;
    max-width: 95vw;
    background-color: #f8caca;
    margin-top: 60px;
    border: 2px solid greenyellow;
    flex-wrap: wrap;
}

h1 {
    font-family: Arial;
    font-size: 30px;
    text-align: center;
    margin: 0 0 20px 0;
}

.form-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
   
}

#form1 {
    display: flex;
    border:solid 10px #ff0077;
    border-radius: 5px;
    width: 500px;
    text-align: center;
    margin: 0px; 
}

.navegacion {
    display: flex;
    justify-content: center; 
    margin-top: 10px;
    flex-direction: column; 
}

.ofrecemos {
    margin-top: 65px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    border: 2px solid red;  
}

footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 10px;
    padding: 10px 0;

}
.fotIconos{
    align-items: center; 
    gap: 15px;
    
}

.num{
    font-size: 1.5em;
    color: white;
    margin: 0;
    display: flex;
}
p{
    font-weight: bold;
    margin-left: 11px;
    margin-top: 50px;
    font-family: sans-serif, cursive;
    color: white;
}
.whatsapp{
    width: 55px;
    height: 55px;
}
.facebook{    
    width: 55px;
    height: 55px;
}
.facebook:hover{
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.15);
}
.instagram:hover{
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.15);
}
.instagram{
    width: 55px;
    height: 55px;
}
.direccion{
    display: flex;
    font-weight: bold;
    text-align: right;
    margin-top: 30px;
    font-family: sans-serif, cursive;
    color: white;
}
/*-----------------------------*/
#imagenPrincipal {
    height: 450px;
    width: 500px;
}
#imagenPrincipal:hover{
    border: solid 5px #ff0077;
    transform: scale(1.25);
}


.botonAnt {
    z-index: 1;
    position: relative;
    align-items: center;
    top: 260px; 
    left: -80px; 
    width: 40px;
    height: 40px;
}

.botonSig {
    z-index: 1;
    position:relative;
    align-items:  center;
    top: -250px;
    left: 550px; 
    width: 40px;
    height: 40px;
}

.botonSig:hover, .botonAnt:hover {
    cursor: pointer;
    transform: scale(1.25);
    transition: transform 0.3s ease;
}
/*------------Formulario---------------*/
.formulario-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #FFC0CB;
    border: 1px solid black;
    margin: 0 auto;
    max-width: 60vw;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
label, input, select {
    width: 80%;
    margin-bottom: 10px;
}

input[type="submit"] {
    width: auto;
    padding: 10px 20px;
    background-color: #d30404;
    color: #fff;
    border-radius: 15px;
}
  
  .boton-rojo {
    background-color: #fa0606; 
    color: #FFFFFF; 
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .boton-rojo:hover {
    background-color: #fdf9fa;
    color : black; 
  }
   .error {
    color: #FF0000; 
    font-size: 16px;
    display: block;
    margin-bottom: 10px;    
  }
  /*****DivMensajes******/
  .h1{
    font-family: Arial;
    color: #db0000;
}

#mensajes {         
   
    margin-bottom: 20px;
    display: flex; 
    min-width: 100px;
    flex-direction: column;
  }

  #mensajes ul {
    list-style: none;


    font-size: 25px;
  }
  
/*************UL de pagina principal*****************/
.ofrecemos h2{
    font-size: 25px;
    color: black;
    margin: 15px;
    text-align: center;
    font-family: Arial;
    
}

.ofrecemos {
    width: 400px;
    background-color: #B6FFFF;
    padding: 20px;
}
.ofrecemos ul{
    list-style: none;
    color: black;
    margin:15px;
    text-align: center;
    
}
.ofrecemos li{
    margin-top: 20px;
    color: #570A8B;
    font-weight: bold;
    font-size: 18px;
    font-family: Arial;
}
/***************DESCRIPCION SOBRE NOSOTROS*****/
.cuerpoNosotros {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px;
    background-color: #DAD8D8;
}
/**************ENCABEZADO**********************/
.sobreNosotros {
    width: 100%;
    text-align: center;
    background-color: #B6FFFF;
    border: 10px double black;
    margin-bottom: 15px;
}
#psobreNosotros{
    font-size: 19px;
    color: black;
    margin: 15px;
    text-align: center;
    font-family: Arial;
    
}
.sobreNosotros h1{
    margin-top: 3px;
}
/**************CAJA 1**********************/
.spa, .manosPies, .tradicional, .lifting, .esculpidas, .semipermanente, .permanente, .tinte {
    max-width: 47%;
    margin-bottom: 20px;
    background-color: #B6FFFF;
    border: 2px solid black;   
}
.spa h1{
    font-size: 20px;
    color:#BA0404;
    margin: 15px;
    text-align: center;
    font-family: Arial;
}
.spa p{
    font-size: 14px;
    color: black;
    margin: 15px;
    text-align: center;
    font-family: Arial;  
}
/**************CAJA 2**********************/


.manosPies h1{
    font-size: 20px;
    color:#BA0404;
    margin: 15px;
    text-align: center;
    font-family: Arial;
}
.manosPies p{
    font-size: 14px;
    color: black;
    margin: 15px;
    text-align: center;
    font-family: Arial;  
}
/**************CAJA 3**********************/

.tradicional h1{
    font-size: 20px;
    color:#BA0404;
    margin: 15px;
    text-align: center;
    font-family: Arial;
}
.tradicional p{
    font-size: 14px;
    color: black;
    margin: 15px;
    text-align: center;
    font-family: Arial;  
}
/**************CAJA 6**********************/

.lifting h1{
    font-size: 20px;
    color:#BA0404;
    margin: 15px;
    text-align: center;
    font-family: Arial;
}
.lifting p{
    font-size: 14px;
    color: black;
    margin: 15px;
    text-align: center;
    font-family: Arial;  
}
/**************CAJA 4**********************/

.semipermanente h1{
    font-size: 20px;
    color:#BA0404;
    margin: 15px;
    text-align: center;
    font-family: Arial;
}
.semipermanente p{
    font-size: 14px;
    color: black;
    margin: 15px;
    text-align: center;
    font-family: Arial;  
}
/**************CAJA 5**********************/

.esculpidas h1{
    font-size: 20px;
    color:#BA0404;
    margin: 15px;
    text-align: center;
    font-family: Arial;
}
.esculpidas p{
    font-size: 14px;
    color: black;
    margin: 15px;
    text-align: center;
    font-family: Arial;  
}
/**************CAJA 7**********************/

.permanente h1{
    font-size: 20px;
    color:#BA0404;
    margin: 15px;
    text-align: center;
    font-family: Arial;
}
.permanente p{
    font-size: 14px;
    color: black;
    margin: 15px;
    text-align: center;
    font-family: Arial;  
}
/**************CAJA 8**********************/

.tinte h1{
    font-size: 20px;
    color:#BA0404;
    margin: 15px;
    text-align: center;
    font-family: Arial;
}
.tinte p{
    font-size: 14px;
    color: black;
    margin: 15px;
    text-align: center;
    font-family: Arial;  
}
